body {
    padding-top: 70px;
}

.anam-container {
    min-height: 550px;
    border: 1px solid #15224f;
    border-radius: 5px;
}

.header-top {
    background-color: #15224f;
    color: #ffffff;
}

.navbar-header a, nav a {
    color: #ffffff;
}

.footer-bottom {
    background-color: #15224f;
    min-height: 30px;
    width: 100%;
    margin-top: 15px;
}
.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}