{% extends 'base_template.html' %}
{% block title %}<title>View Image Page</title>{% endblock %}
{% block maincontent %}
    <h2 class="alert alert-success">This is view Image Page</h2>
    <div class="container row">
        <button class="btn btn-warning">Click Here!</button>
        <a class="btn btn-success" href="{{ url_for('index') }}"><span class="glyphicon glyphicon-home"></span> Home</a>
    </div>
    <div class="container row">
        <img class="img-responsive center-block" src="{{ url_for('static', filename='img1.jpg') }}" alt="" style="display: none">
    </div>
{% endblock %}
{% block customjavascript %}
    <script type=text/javascript>
        $( "button" ).click(function() {
          $( "img" ).toggle( "slow" );
        });
    </script>
{% endblock %}
</body>
</html>